body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: gainsboro;
}
.panel{
	width: 100%;
	height: 185px;
  position: fixed;
	background-color: rgb(243, 247, 252);
}
.createclasstable{
  width: 100%;
}
.createclasstable tr td{
  padding: 10px;
}
.createbooktable{
  width: 100%;
}
.createbooktable tr td{
  padding: 10px;
}
.createcharactertable{
  width: 100%;
}
.createcharactertable tr td{
  padding: 10px;
}
.create-card-row{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.col-classform{
  background-color: white;
  width: max-content;
  flex: 30%;
  max-width: 30%;
  height: max-content;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.col-classform2{
  margin-right: 60%;
  background-color: white;
  width: max-content;
  flex: 30%;
  max-width: 30%;
  height: max-content;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.col-available{
  margin-right: 60%;
  background-color: white;
  width: max-content;
  flex: 30%;
  max-width: 30%;
  height: max-content;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.col-chapter{
  margin-right: 60%;
  background-color: white;
  width: max-content;
  flex: 30%;
  max-width: 30%;
  height: max-content;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.col-cards-items{
  /*background-color: rgb(202, 238, 230);*/
  padding: 5px;
  flex: 60%;
  max-width: 60%;
}

.create-card-cont{
  padding: 10px;
  /*background-color: rgb(231, 236, 216);*/
  position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  justify-content: flex-start;
}

/* floating-menu */
#floating-menu{
  position: fixed; 
  right: 10px; 
  top: 200px; 
  z-index: 1;
  border-left: 2px solid white;
}
.tooltip-inner {
  background-color: #8955d7;
  border-radius: .15rem;
}
.tooltip .arrow::before{
  border-left-color: #8955d7;
}
#floating-menu > button:hover{
  border-bottom: 1px solid gold;
}
#floating-menu:hover{
  border-left: 2px solid gold;
}
/* floating-menu */

@media screen and (max-width: 850px) {
  .col-classform{
    flex: 100%;
    max-width: 100%;
  }
  .col-cards-items{
    flex: 100%;
    max-width: 100%;
  }
  #floating-menu{
    position: fixed; 
    top: 80%;
    right: 5px; 
    z-index: 1;
  }
}
   